
.heading {
    color: #a35e60;
    font-family: sans-serif;
}
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-family: sans-serif;

}
  .nav-link-item {
    padding: .3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    margin-right: 1rem;
    display:inline-block;
    text-wrap: nowrap;
    white-space: nowrap;

    
}
  .nav-link-text {
    color: rgb(99, 95, 99);
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid aliceblue;
    border-radius: 15px;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.site-title {
    font-size: 3rem;
    color: #680929;
    font-weight: 700;
    margin: 3rem 0;
    font-family: sans-serif;
}

body {
  background-image: linear-gradient(to top,white, #E4B4B2);
  background-attachment: fixed;
  color: rgb(71, 69, 71);
  
}

h1 {
  color: rgb(71, 69, 71);
}

