
.heading {
    color: #39b184;
    font-family: sans-serif;
}
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-family: sans-serif;
}
  .nav-link-item {
    padding-right: 2rem;
    
    
}
  .nav-link-text {
    color: black;
    border-style: solid;
    font-size: 25px;
    text-decoration: none;
    
}
.site-title {
    font-size: 3rem;
    color: #f0939e;
    font-weight: 700;
    margin: 3rem 0;
    font-family: sans-serif;
}
